/* Formating */
.wrapper{
    margin-left: 5%;
    margin-right: 5%;
    background-color:#ece2d6;
    padding: 0;
}
body {
  margin:0;
  padding: 0;
  background-color:#ece2d6;
}

.aboutus{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
  align-items: center;
}

.ourstory_box{
    border: 0px solid gray;
    width: 100%;
    height: 600px;
    display: flex;
    /* padding: 50px; */
    /* margin-left: 10%; */
}

.ourpromise_box{
    border: 0px solid gray;
    width: 100%;
    height: 700px;
    display: flex;
    padding-top: 50px;
    /* padding: 50px; */
    /* margin-left: 10%; */
}

#aboutus_imgs{
  width: 100%;
  height: 430px;
}

/* fonts */
p{
    color: #7c6550;
    font-family: 'Source Sans 3', sans-serif;
    letter-spacing: 0.5px;
    font-size: 16px;
}
.aboutus p{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 18px;
}
h1{
    color: #6e5e4f;
    font-family: 'Lora', serif;
    letter-spacing: 7px;
    font-size:20px;
}
h4{
    color: #6e5e4f;
    font-family: 'Lora', serif;
    letter-spacing: 7px;
    font-size:16px;
}

.ourstory_content {
  border: 0px solid orange;
    text-align: left;
    margin-top: 70px;
    width: 100%;
    /* margin-left: 5%; */
}

.ourpromise_content{
  margin-left: 8%;
  margin-top: 70px;
  margin-bottom: 20px;
  width: 100%;
  height: 430px;
  border: 0px solid orange;

}

/* Images */
#ourstory_img{
  margin-left: 8%;
  margin-top: 70px;
  margin-bottom: 20px;
  width: 100%;
  height: 430px;
  border: 0px solid orange;

}

#ourpromise_img {
  border: 0px solid orange;
    text-align: left;
    color: #c09241;
    margin-top: 70px;
    letter-spacing: 5px;
    height: 430px;
    width: 100%;
    /* margin-left: 5%; */
}

#line{
    width: 30%
}


/* Transitions */

.topbanner{
  display: flex;
  height: 600px;
  opacity: 0.6;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-image: url('https://scontent.fsin15-1.fna.fbcdn.net/v/t39.30808-6/293707107_366998742243548_5381006280578561041_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=0kHXpK1C4PkAX87rYfY&_nc_ht=scontent.fsin15-1.fna&oh=00_AfAl_d1EdDgRQodmOwAaNVzfTu1gbP0qbfe30v_SvzDdiw&oe=654F24AE');
  background-position: center;
  background-size: cover;
}

.hidden{
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 3000ms ease-out, transform 1200ms ease-out,visibility 3000ms ease-out;
}
.show{
    opacity: 1;
    transform: none;
    visibility: visible;
}
