/* Overall Formating */
.wrapper{
    flex: 1;
    flex-direction: row;
    margin: auto;
    margin-top: 60px;
    padding-bottom: 40px;
    width: 80%;
    background-color: #FAFAF9;
}
body {
  margin: 0;
  background-color:#ece2d6;
  color:#c09241;
  font-family: 'Lora', serif;
}

.background_box{
  width: 100%;
  height: 1180px;
  margin-top: 80px;
  background-color: #FAFAF9;
}

.heading{
  align-items: center;
  text-align: center;
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Lora', serif;
  padding-bottom: 80px;
}

.row1{
  display: inline-flex;
}

.row2{
  display: inline-flex;
}

#line{
    width: 30%
}

/* Products  */
.product_1, .product_2, .product_3{
  margin-left: 105px;
}

.product_4, .product_5{
  margin-top: 100px;
  margin-left: 105px;
  margin-top: 60px;
}

.product_box{
  width: 240px;
  height: 440px;
  border: 0px solid gray;
  /* margin-top: 50px; */
  background-color: #FAFAF9;
  text-align: center;
}

#product_imgs{
  width: 240px;
  height: 340px;
}
/* Texts */
.heading h1{
  padding-top: 50px;
  font-size: 20px;
  letter-spacing: 7px;
  color: #6e5e4f;
}
.heading p{
  color: #7c6550;
}
.pdtname{
  color: #6e5e4f;
  font-family: 'Lora', serif;
  letter-spacing: 5px;
  font-size:16px;
  margin-top: 120px;
}
.product_box p{
  margin-top:20px;
  font-family: 'Lora', serif;
  font-size:16px;
}

/* Transitions */

.products_banner{
  display: flex;
  height: 600px;
  opacity:0.6;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url('https://scontent.fsin15-1.fna.fbcdn.net/v/t39.30808-6/244043628_183660953910662_8635140451184725677_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=p2gJG4hHcHUAX8JSAaD&_nc_ht=scontent.fsin15-1.fna&oh=00_AfCjrGc3XzbL8JLiYox_J1BHwTt1M3XTVTRojMq_xnh9QQ&oe=654F6C4D');

}

.hidden{
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 3000ms ease-out, transform 1200ms ease-out,visibility 3000ms ease-out;
}
.show{
    opacity: 1;
    transform: none;
    visibility: visible;
}
