/* Fonts */
h1{
    color: #6e5e4f;
    font-family: 'Source Sans 3', sans-serif;
    font-size:32px;
    font-weight: lighter;
    letter-spacing: 3px;
}

h2{
    color: #7c6550;
    font-family: 'Source Sans 3', sans-serif;
    letter-spacing: 0.5px;
    font-size: 16px;
}

/* breadcrumb */
  ul.breadcrumb {
    padding: 15px 16px;
    list-style: none;
  }
  
  ul.breadcrumb li {
    font-family: 'Source Sans 3', sans-serif;
    color: #7c6550;
    display: inline;
    font-size: 12px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    /* color: black; */
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {
    font-family: 'Source Sans 3', sans-serif;
    color: darkgrey;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    font-family: 'Source Sans 3', sans-serif;
    color: #7c6550;
    text-decoration: underline;
  }

/* Main */
.container{
    flex: 1;
    flex-direction: row;
    margin: auto;
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 80%;
    height: 1000px;
    background-color: #FAFAF9;
}

/* Left: Details */
.details-left{
    width: 40%;
    float: left;
    padding-left: 4%;
    padding-right: 2%;
}

input, option, select, textarea {
    height: 25px;
    width: 100%;
    background-color: #FAFAF9;
    color: #6e5e4f;
    border: 1px solid #6e5e4f;
}

.form-group{
    /* background-color: aqua; */
    margin-top: 20px;
}

.sub-left{
    width: 45%;
    float: left;
    flex-direction: column;
}

.sub-right{
    width: 45%;
    float: right;
    flex-direction: column;
}



/* Right: Cart */
.cart-right{
    width: 40%;
    float: right;
    padding-left: 2%;
    padding-right: 4%;
}

.cartItem{
    width: 100%;
    flex-direction: column;
    /* background-color: blue; */
}

.title-left{
    width: 45%;
    float: left;
}

.icon-right{
    width: 45%;
    float: right;
    margin: auto;
    margin-top: 3.2%;
}

.stepper {
    display: flex;
    align-items: center;
}

.stepper input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 20px; /* Adjust the border-radius to make it more or less rounded */
    padding: 5px 10px;
    width: 50px;
    text-align: center;
}

.top{
    width: 100%;
    flex-direction: row;
}

.bottom{
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 15%;
}

.price{
    margin-left: 20%;
    float: right;
}