/* Overall Formating */
.wrapper{
    flex: 1;
    flex-direction: row;
    margin: auto;
    margin-top: 60px;
    padding-bottom: 40px;
    width: 80%;
    background-color: #FAFAF9;


}
body {
  margin: 0;
  background-color:#ece2d6;
  color:#c09241;
  font-family: 'Lora', serif;
}


.background_box{
  width: 100%;
  border: 0px;
  background-color: #FAFAF9;
  /* border: 2px solid orange; */
}

.heading{

}

.row1{
  display: inline-flex;
}

/* Details alignment */
.breadcrumb {
  padding: 15px 16px;
  /* border: 2px solid orange; */
  /* color:#c09241; */
  font-family: 'Lora', serif;
}
.breadcrumb a {
    color: #c09241;
    text-decoration: none;
    outline: none;
}

.image_box{
  width: 80%;
  height: 615px;
  /* border: 2px solid gray; */
  background-color: #FAFAF9;
  text-align: center;
  margin-top: 60px;
  margin-left: 5%;
}

.text_box{
  width: 80%;
  height: 615px;
  /* border: 2px solid gray; */
  background-color: #FAFAF9;
  margin-top: 60px;
  margin-bottom: 160px;
  margin-left: 10%;
}

#product_imgs{
  width: 530px;
  height: 615px;
}

.box_addtocart{
  position: relative;
  /* border: 0px solid orange; */
  height: 50px;
  padding-top: 50px;
}
#addtocart{
  width: 145px;
  height: 55px;
  background-color: #ece2d6;
  border: none;
}
#quantity{
  width: 110px;
  height: 30px;
  background-color: #FAFAF9;
  text-align: center;
  margin-left: 40px;
}


/* Texts */
.text_content h1{
  font-size: 36px;
}
.text_content p{

}
